<div class="current-student">
  <span class="current-student--name">
    <%= current_student.first_name %> <%= current_student.last_name %>
  </span>
  <button class="current-student--sign-out" type="button">
    <%= link_to(t('.sign_out'), destroy_student_session_path, method: :delete) %>
  </button>
</div>

<div class="headline headline--general">
  <%= t('.headline') %> (<%= @grade.name %>)
</div>
<div class="headline headline--title">
  <%= @poll.title %>
</div>

<%= form_for(current_student, url: student_path(current_student.id), method: :put, class: "selections-form") do |form| %>
  <%= form.fields_for(:top_selection) do |top_form| %>
    <%= top_form.hidden_field :course_id, value: @top_selection.course_id, data: { priority: 0 } %>
  <% end %>
  <%= form.fields_for(:mid_selection) do |mid_form| %>
    <%= mid_form.hidden_field :course_id, value: @mid_selection.course_id, data: { priority: 1 } %>
  <% end %>
  <%= form.fields_for(:low_selection) do |low_form| %>
    <%= low_form.hidden_field :course_id, value: @low_selection.course_id, data: { priority: 2 } %>
  <% end %>

  <div class="selections-form--courses">
    <% @courses.each do |course| %>
      <% selected_prio = @selections.detect { |s| s.course_id == course.id }&.priority %>
      <%= content_tag :div, id: "course-container-#{course.id}", class: "course #{'course__selected' if selected_prio} #{"course__selected--#{selected_prio}" if selected_prio}", data: { selected: selected_prio } do %>
        <div class="course-description">
          <div class="course-description--title"><%= '(G) ' if course.guaranteed? %><%= course.title %></div>
          <div class="course-description--teacher"><%= t('.course.teacher', teacher_name: course.teacher_name) %></div>
          <div class="course-description--min-to-max"><%= t('.course.min_to_max', min: course.minimum, max: course.maximum) %></div>
          <div class="course-description--focus-area"><%= t('.course.focus_areas', focus_areas: course.focus_areas) %></div>
          <div class="course-description--description"><%= course.description %></div>
          <div class="course-description--variants"><%= t('.course.variants', variants: course.variants) %></div>
        </div>
        <%= content_tag :div, id: "course-#{course.id}-priority-container", class: "course-priority" do %>
          <% [0, 1, 2].each do |priority| %>
            <%= content_tag :div, id: "course-#{course.id}-priority-#{priority}", class: "course-priority--container course-priority--container__#{priority} #{'course-priority--container__selected' if selected_prio == priority}", data: { course_id: course.id, priority: priority, selected: selected_prio } do %>
              <%= content_tag :div, priority + 1, class: "course-priority--text" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= form.submit t('.submit'), class: "selections-form--submit" %>
<% end %>

<%= javascript_pack_tag 'selections' %>
