<% if @poll %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-info text-white">
        <h1 class="card-header">
          <%= t('.headline') %> (<%= @grade.name %>)
        </h1>
        <div class="card-body">
          <h2 class="card-title">
            <%= @poll.title %>
          </h2>
          <div class="card-text">
            <%= @poll.description %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form_for(current_student, url: student_path(current_student.id), method: :put, class: "selections-form") do |form| %>
    <%= form.fields_for(:current_selection) do |top_form| %>
      <%= top_form.hidden_field :top_course_id, value: @selection.top_course_id, data: { priority: :top } %>
      <%= top_form.hidden_field :mid_course_id, value: @selection.mid_course_id, data: { priority: :mid } %>
      <%= top_form.hidden_field :low_course_id, value: @selection.low_course_id, data: { priority: :low } %>
      <%= hidden_field_tag :guaranteed_chosen, @selection.top_course&.guaranteed %>
    <% end %>

    <div class="row">
      <% @courses.each do |course| %>
        <% selected_prio   = @selection.prio_for(course) %>
        <% course_disabled = @past_courses.any? { |c| c.id == course.parent_course_id } %>
        <%= content_tag :div, class: 'col-12 col-lg-6 mb-3 course' do %>
          <%= content_tag :div, id: "course-container-#{course.id}", class: course_card_classes(selected_prio, course_disabled) do %>
            <h5 class="card-header"><%= course.title %></h5>
            <div class="card-body">
              <div class="mb-2">
                <strong><%= t('.course.teacher') %>:</strong>
                <%= course.teacher_name %>
              </div>
              <% if course.focus_areas.present? %>
                <div class="mb-2">
                  <strong><%= t('.course.focus_areas') %>:</strong>
                  <%= course.focus_areas %>
                </div>
              <% end %>
              <div class="mb-2">
                <%= course.description %>
              </div>
              <% if course.variants.present? %>
                <div>
                  <strong><%= t('.course.variants') %>:</strong>
                  <%= course.variants %>
                </div>
              <% end %>
            </div>
            <%= content_tag :div, id: "course-#{course.id}-priority-container", class: "card-footer js-course-priority-container" do %>
              <%= priority_button(course, :top, selected_prio, course_disabled) %>
              <% unless course.guaranteed? %>
                <%= priority_button(course, :mid, selected_prio, course_disabled) %>
                <%= priority_button(course, :low, selected_prio, course_disabled) %>
              <% end %>
            <% end %>
          <% end %>
          <% if course_disabled %>
            <div class="course-disabled-note">
              <%= t('.disabled_note') %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= form.submit t('.submit'), class: "btn btn-success mb-4 btn-block" %>
  <% end %>

  <%= javascript_pack_tag 'selections' %>
<% else %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-warning">
        <div class="card-body">
          <h2 class="card-title">
            <%= t('.no_poll') %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% @polls_not_completed.each do |poll| %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-warning">
        <div class="card-body">
          <h2 class="card-title">
            <%= poll.title %>
          </h2>
          <div class="card-text">
            <%= t('.not_completed_yet') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% @past_courses.each do |course| %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h2 class="card-title">
            <%= course.poll.title %>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <%= content_tag :div, class: "mb-4 course" do %>
    <div class="card bg-light">
      <h5 class="card-header"><%= course.title %></h5>
      <div class="card-body">
        <div class="mb-2">
          <strong><%= t('.course.teacher') %>:</strong>
          <%= course.teacher_name %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
