<% if @poll %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-info text-white">
        <h1 class="card-header">
          <%= t('.headline') %> (<%= @grade.name %>)
        </h1>
        <div class="card-body">
          <h2 class="card-title">
            <%= @poll.title %>
          </h2>
          <div class="card-text">
            <%= @poll.description %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form_for(current_student, url: student_path(current_student.id), method: :put, class: "selections-form") do |form| %>
    <%= form.fields_for(:current_selection) do |top_form| %>
      <%= top_form.hidden_field :top_course_id, value: @selection.top_course_id, data: { priority: :top } %>
      <%= top_form.hidden_field :mid_course_id, value: @selection.mid_course_id, data: { priority: :mid } %>
      <%= top_form.hidden_field :low_course_id, value: @selection.low_course_id, data: { priority: :low } %>
      <%= hidden_field_tag :guaranteed_chosen, @selection.top_course&.guaranteed %>
    <% end %>

    <div class="row">
      <% @courses.each do |course| %>
        <% selected_prio   = @selection.prio_for(course) %>
        <% course_disabled = @past_courses.any? { |c| c.id == course.parent_course_id } %>
        <%= content_tag :div, id: "course-container-#{course.id}", class: 'col-12 col-lg-6 mb-3 course', data: { selected: selected_prio, disabled: course_disabled } do %>
          <%= content_tag :div, class: course_card_classes(selected_prio) do %>
            <h5 class="card-header"><%= course.title %></h5>
            <div class="card-body">
              <div class="mb-2">
                <strong><%= t('.course.teacher') %>:</strong>
                <%= course.teacher_name %>
              </div>
              <div class="mb-2">
                <strong><%= t('.course.seats') %>:</strong>
                <%= t('.course.min_to_max', min: course.minimum, max: course.maximum) %>
              </div>
              <div class="mb-2">
                <strong><%= t('.course.focus_areas') %>:</strong>
                <%= course.focus_areas %>
              </div>
              <div class="mb-2">
                <%= course.description %>
              </div>
              <div>
                <strong><%= t('.course.variants') %>:</strong>
                <%= course.variants %>
              </div>
            </div>
            <%= content_tag :div, id: "course-#{course.id}-priority-container", class: "card-footer" do %>
              <%= content_tag :button, type: 'button', id: "course-#{course.id}-priority-top", disabled: course_disabled, class: "btn btn-success course-priority--top #{'course-priority--selected' if selected_prio == :top }" do %>
                <%= t(".prio.top") %>
              <% end %>
              <% unless course.guaranteed? %>
                <%= content_tag :button, type: 'button', id: "course-#{course.id}-priority-mid", disabled: course_disabled, class: "btn btn-warning course-priority--mid #{'course-priority--selected' if selected_prio == :mid }" do %>
                  <%= t(".prio.mid") %>
                <% end %>
                <%= content_tag :button, type: 'button', id: "course-#{course.id}-priority-low", disabled: course_disabled, class: "btn btn-danger course-priority--low #{'course-priority--selected' if selected_prio == :low }" do %>
                  <%= t(".prio.low") %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if course_disabled %>
            <div class="course-disabled-note">
              <%= t('.disabled_note') %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= form.submit t('.submit'), class: "btn btn-success mb-4 btn-block" %>
  <% end %>

  <%= javascript_pack_tag 'selections' %>
<% else %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-warning">
        <div class="card-body">
          <h2 class="card-title">
            <%= t('.no_poll') %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% @past_courses.each do |course| %>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h2 class="card-title">
            <%= course.poll.title %>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <%= content_tag :div, class: "mb-4 course" do %>
    <div class="card bg-light">
      <h5 class="card-header"><%= course.title %></h5>
      <div class="card-body">
        <div class="mb-2">
          <strong><%= t('.course.teacher') %>:</strong>
          <%= course.teacher_name %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
