<h1 class="text-xl font-semibold text-gray-900 mb-8"><%= t('.headline') %> (<%= @grade.name %>)</h1>

<% if @poll %>
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm mb-4">
    <div class="px-4 py-5 sm:px-6">
      <h2 class="text-base font-semibold text-gray-900"><%= @poll.title %></h2>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <div class="mt-2 text-sm text-gray-900">
        <%= @poll.description %>
      </div>
    </div>
  </div>

  <%= form_for(current_student, url: student_path(current_student.id), method: :put, class: "selections-form") do |form| %>
    <%= form.fields_for(:current_selection) do |top_form| %>
      <%= top_form.hidden_field :top_course_id, value: @selection.top_course_id, data: { priority: :top } %>
      <%= top_form.hidden_field :mid_course_id, value: @selection.mid_course_id, data: { priority: :mid } %>
      <%= top_form.hidden_field :low_course_id, value: @selection.low_course_id, data: { priority: :low } %>
      <%= hidden_field_tag :guaranteed_chosen, @selection.top_course&.guaranteed %>
    <% end %>

    <div class="columns-xs">
      <% @courses.each do |course| %>
        <% selected_prio = @selection.prio_for(course) %>
        <% course_disabled = @past_courses.any? { |c| c.id == course.parent_course_id } %>
        <%= content_tag :div, class: course_card_classes(selected_prio, course_disabled) do %>
          <div class="px-4 py-5 sm:px-6 flex justify-between">
            <h3 class="text-base font-semibold"><%= course.title %></h3>
            <%= content_tag :span, class: priority_color_text(selected_prio) do %>
              <%= check_icon if selected_prio %>
            <% end %>
          </div>
          <div class="px-4 py-5 sm:p-6">
            <div class="mt-2 text-sm">
              <div class="mb-2">
                <strong><%= t('.course.teacher') %>:</strong>
                <%= course.teacher_name %>
              </div>
              <% if course.focus_areas.present? %>
                <div class="mb-2">
                  <strong><%= t('.course.focus_areas') %>:</strong>
                  <%= course.focus_areas %>
                </div>
              <% end %>
              <div class="mb-2">
                <%= course.description %>
              </div>
              <% if course.variants.present? %>
                <div>
                  <strong><%= t('.course.variants') %>:</strong>
                  <%= course.variants %>
                </div>
              <% end %>
            </div>
          </div>
          <% if course_disabled %>
            <div class="px-4 py-4 sm:px-6">
              <%= t('.disabled_note') %>
            </div>
          <% else %>
            <div class="px-4 py-4 sm:px-6 grid grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-4">
              <%= priority_button(course, :top, selected_prio) %>
              <% unless course.guaranteed? %>
                <%= priority_button(course, :mid, selected_prio) %>
                <% if @courses.length > 2 %>
                  <%= priority_button(course, :low, selected_prio) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="flex justify-center mt-4">
      <%= form.submit t('.submit'), class: "rounded-md bg-emerald-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-emerald-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600" %>
    </div>
  <% end %>
<% else %>
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm mb-4">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-base font-semibold text-gray-900"><%= t('.no_poll') %></h3>
    </div>
  </div>
<% end %>

<% if @past_courses.present? %>
  <div class="columns-xs border-t border-gray-200 pt-8 mt-8">
    <% @past_courses.each do |course| %>
      <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm mb-4">
        <div class="px-4 py-5 sm:px-6">
          <h2 class="text-base font-semibold text-gray-900"><%= course.poll.title %></h2>
        </div>
        <div class="px-4 py-5 sm:p-6">
          <% if course.poll.completed %>
            <h3 class="text-base font-semibold text-gray-900">
              <%= course.title %>
            </h3>
            <div class="mt-2 text-sm text-gray-500">
              <strong><%= t('.course.teacher') %>:</strong>
              <%= course.teacher_name %>
            </div>
          <% else %>
            <div class="mt-2 text-sm text-gray-500">
              <%= t('.not_completed_yet') %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
