<%= content_tag :div, class: "student--container", data: student_distribution_data(student, @object) do %>
  <%= form.fields_for("courses_students[]", student) do |sub_form| %>
    <%= sub_form.hidden_field :student_id, value: student.id %>
    <%= sub_form.hidden_field :course_id, value: course&.id %>
  <% end %>
  <div class="student--name"><%= student.full_name %></div>
  <% if student.courses.map(&:id).include?(course&.parent_course_id) %>
    <div class="text-danger"><i class='icon-warning-sign'></i></div>
  <% end %>
  <% distribution_indicator_by(student, @object) %>
<% end %>
