<div class="distribute-container">
  <div class="overlay"></div>
  <div class="not-distributed">
    <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put, class: 'students--container' do |form| %>
      <%= render @not_dist_students, form: form, course_id: nil %>
    <% end %>
    <div class="students--actions">
      <div class="students--count"><%= t('admin.actions.distribute.students_count', count: @not_dist_students.length) %></div>
      <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put do |form| %>
        <% @not_dist_students.each do |student| %>
          <%= form.fields_for("courses_students[]", student) do |sub_form| %>
            <%= sub_form.hidden_field :student_id, value: student.id %>
            <%= sub_form.hidden_field :course_id, value: student.selection_for(@object)&.top_course_id %>
          <% end %>
        <% end %>
        <%= button_tag t('admin.actions.distribute.distribute_all'), type: 'submit', disabled: @not_dist_students.empty?, id: 'distribute-all', class: 'students--distribute btn btn-primary', data: { disable_with: '...' } %>
      <% end %>
      <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put do |form| %>
        <% @courses.map(&:students).flatten.each do |student| %>
          <%= form.fields_for("courses_students[]", student) do |sub_form| %>
            <%= sub_form.hidden_field :student_id, value: student.id %>
            <%= sub_form.hidden_field :course_id, value: nil %>
          <% end %>
        <% end %>
        <%= button_tag t('admin.actions.distribute.reset_all'), type: 'sumbit', disabled: @courses.map(&:students).flatten.empty?, id: 'reset-all', class: 'students--reset btn btn-danger', data: { disable_with: '...' } %>
      <% end %>
    </div>
  </div>

  <div class="courses--container">
    <% @courses.each do |course| %>
      <%= content_tag :div, class: classes_for(course) do %>
        <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put, class: 'course-students', data: { course_id: course.id } do |form| %>
          <%= render course.students.sort_by { |s| [s.last_name, s.first_name] }, form: form, course_id: course.id %>
        <% end %>
        <div class="course-description">
          <div class="course-description--title"><%= course.title %></div>
          <div class="course-description--teacher"><%= course.teacher_name %></div>
          <div class="course-growing-element">
            <%= t('admin.actions.distribute.course.min_to_max', min: course.minimum, max: course.maximum) unless course.guaranteed? %>
          </div>
          <% if @object.completed.present? %>
            <%= form_with model: course, url: main_app.admins_course_path(course), method: :get, class: "course-growing-element" do |form| %>
              <%= button_tag type: "submit", class: "btn btn-sm btn-primary btn-block" do %>
                <i class="icon-download"></i>
                <span><%= t('admin.actions.distribute.course.download') %></span>
              <% end %>
            <% end %>
          <% end %>
          <div class="course-description--count">
            <% if course.maximum %>
              <% if course.students.length >= course.maximum %>
                <i class="text-danger icon-warning-sign"></i>
                <%= '+' if (course.students.length - course.maximum).positive? %><%= course.students.length - course.maximum %>
              <% else %>
                <%= course.maximum - course.students.length%>
              <% end %>
              <div class="progress progress-flat">
                <%= content_tag :div, '', class: "progress-bar", role: "progressbar", style: "width: #{[100, (course.students.length.to_f / course.maximum.to_f) * 100].min}%" %>
              </div>
            <% else %>
              <%= course.students.length %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="course alert">
      <% if @object.completed.nil? && @object.valid_until < Time.zone.today %>
        <div class="m-auto">
          <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put do |form| %>
            <%= form.hidden_field :completed, value: Time.zone.now %>
            <%= button_tag t('admin.actions.distribute.poll.complete'), type: "submit", class: "btn btn-lg btn-block btn-danger", data: { disable_with: '...' } %><br>
            <span class="text-danger"><%= t('admin.actions.distribute.poll.complete_warning') %></span>
          <% end %>
        </div>
      <% elsif @object.completed.nil? %>
        <div class="m-auto">
          <%= button_tag t('admin.actions.distribute.poll.complete'), type: "button", disabled: true, class: "btn btn-lg btn-block btn-default" %><br>
          <span><%= t('admin.actions.distribute.poll.not_completable_until', date: I18n.l(@object.valid_until)) %></span>
        </div>
      <% else %>
        <div class="m-auto">
          <%= t('admin.actions.distribute.poll.completed', date: I18n.l(@object.completed, format: :short)) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
