<div class="distribute-container">
  <div class="not-distributed">
    <div class="students--container"><%= render @not_dist_students %></div>
    <div class="students--actions">
      <div class="students--count"><%= t('admin.actions.distribute.students_count', count: @not_dist_students.length) %></div>
      <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put do |form| %>
        <% @not_dist_students.each do |student| %>
          <%= form.fields_for("courses_students[]", student) do |sub_form| %>
            <%= sub_form.hidden_field :student_id, value: student.id %>
            <%= sub_form.hidden_field :course_id, value: student.selection_for(@object)&.top_course_id %>
          <% end %>
        <% end %>
        <%= button_tag t('admin.actions.distribute.distribute_all'), type: 'submit', disabled: @not_dist_students.empty?, id: 'distribute-all', class: 'students--distribute btn btn-primary' %>
      <% end %>
      <%= form_with model: @object, url: distribute_path(model_name: 'poll', id: @object.id), method: :put do |form| %>
        <% @courses.map(&:students).flatten.each do |student| %>
          <%= form.fields_for("courses_students[]", student) do |sub_form| %>
            <%= sub_form.hidden_field :student_id, value: student.id %>
            <%= sub_form.hidden_field :course_id, value: nil %>
          <% end %>
        <% end %>
        <%= button_tag t('admin.actions.distribute.reset_all'), type: 'sumbit', disabled: @courses.map(&:students).flatten.empty?, id: 'reset-all', class: 'students--reset btn btn-danger' %>
      <% end %>
    </div>
  </div>

  <div class="courses--container">
    <% @courses.each do |course| %>
      <%= content_tag :div, id: "course-container-#{course.id}", class: classes_for(course) do %>
        <div class="course-students">
          <%= render course.students.sort_by(&:full_name) %>
        </div>
        <div class="course-description">
          <div class="course-description--title"><%= '(G) ' if course.guaranteed? %><%= course.title %></div>
          <div class="course-description--teacher"><%= course.teacher_name %></div>
          <div class="course-description--min-to-max">
            <%= t('admin.actions.distribute.course.min_to_max', min: course.minimum, max: course.maximum) unless course.guaranteed? %>
          </div>
          <div class="course-description--count">
            <% if course.maximum && course.students.length >= course.maximum %>
              <i class="text-danger icon-warning-sign"></i>
            <% end %>
            <%= course.students.length %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
