<footer>
  <div class="container">
    <div class="row">
      <section class="col-12 col-md-6">
        <nav class="link-block">
          <%= link_to 'Kontakt', 'https://www.bs30.de/die-schule/kontakt' %>
        </nav>
        <div class="address-block">
          <p>
            <strong>BS 30 - Fröbelseminar -<br> Staatliche Fachschule für Sozialpädagogik</strong><br> Wagnerstraße 60, 22081 Hamburg
          </p>
        </div>
      </section>
      <section class="col-12 col-md-6 mt-4 mt-md-0">
        <nav class="link-block link-block--right">
          <%= link_to 'Impressum', 'https://www.bs30.de/impressum' %> //
          <%= link_to 'Datenschutz', 'https://www.bs30.de/datenschutz' %> //
          <%= link_to 'Links', 'https://www.bs30.de/links' %> //
          © <%= Time.zone.today.year %> BS 30
        </nav>
      </section>
    </div>
  </div>
</footer>
