<header class="page-header">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-6 mt-4">
        <%= link_to 'https://www.bs30.de', class: 'd-none d-md-inline-block page-header__home-link' do %>
          <%= image_tag 'fsp-logo.svg' %>
        <% end %>
        <%= link_to 'https://www.bs30.de', class: 'd-md-none' do %>
          <%= image_tag 'fsp-logo.svg' %>
        <% end %>
      </div>
      <div class="col-6">
        <% if current_student %>
          <div class="current-student">
            <span class="current-student--name">
              <%= current_student.first_name %> <%= current_student.last_name %>
            </span>
            <%= link_to(t('.sign_out'), destroy_student_session_path, method: :delete, class: 'btn btn-sm btn-outline-danger') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
