<!DOCTYPE html>
<html>
  <head>
    <title>Kursverteiler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= content_tag :div, class: "page-wrapper page-wrapper--#{Rails.env}" do %>
      <% flash.each do |name, messages| %>
        <% Array(messages).each do |message| %>
          <%= content_tag :div, message, class: name %>
        <% end %>
      <% end %>
      <%= yield %>
    <% end %>
  </body>
</html>
