<!DOCTYPE html>
<html>
  <head>
    <title>Kursverteiler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'header' %>
    <div class="page-wrapper">
      <div class="container">
        <% flash.each do |name, messages| %>
          <% Array(messages).each do |message| %>
            <%= content_tag :h4, message, class: flash_classes(name), role: 'alert' %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render 'footer' %>
  </body>
</html>
