<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Kursverteiler" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render 'header' %>
    <div class="page-wrapper">
      <div class="container">
        <% flash.each do |name, messages| %>
          <% Array(messages).each do |message| %>
            <%= content_tag :h4, message, class: flash_classes(name), role: 'alert' %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render 'footer' %>
  </body>
</html>
